<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 129.99"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$ 254,99"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS4 | PS5"
    gamePrice="R$ 369,99"
  >
  </app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="NEW"
    gameType="PS4 | PS5"
    gamePrice="R$ 253,99"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="DIGITAL"
    gameType="DISC| PS4 | PS5"
    gamePrice="R$ 299,99"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gameType="PS4 | PS5"
    gamePrice="R$ 399,99"
  >
  </app-card>

  <app-card
    gameCover="assets/fifa-23.webp"
    gameLabel="NEW"
    gameType="PS4 | PS5"
    gamePrice="R$ 279,99"
  >
  </app-card>

  <app-card
    gameCover="assets/goodofwar.jpeg"
    gameLabel="NEW"
    gameType="PS4 | PS5"
    gamePrice="R$ 279,99"
  >
  </app-card>

  <app-card
    gameCover="assets/f1-2023.webp"
    gameLabel="DIGITAL"
    gameType="PS4 | PS5"
    gamePrice="R$ 249,99"
  >
  </app-card>
</div>

