<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="assets/ps-logo.png" alt="" width="140px" height="32px">
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://www.youtube.com/@alcidesthiago8549/">YOUTUBE <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt=""></a></li>
      <li><a href="https://www.linkedin.com/in/alcides-thiago-9939b88a/">LINKEDIN <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt=""></a></li>
      <li><a href="https://github.com/AlcidesThiago2016">GITHUB <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt=""></a></li>
    </ul>
  </div>
</div>
